/* Reset e Configuração Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilização do Cabeçalho/Itens do Cabeçalho */
#cabecalho {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

#bt_menu,
#label_menu {
  display: none;
}

#menu ul {
  list-style: none;
  margin-top: 10px;
}

#menu li {
  display: inline-block;
  margin: 0 10px;
}

#menu a {
  color: white;
  background-color: #f1c40f;
  padding: 6px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

#menu a:hover {
  transition: 200ms;
  color: #f1c40f;
  border-color: #f1c40f;
  background-color: white;
}

.titulo-secao {
  text-align: center;
  margin-top: 40px;
  color: #2c3e50;
}
