* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caixa {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.caixa2 {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.container {
  width: 80%;
  margin: 10px auto; /* 0 topo/baixo, auto laterais */
  border: 1px dashed black;
  padding: 38px;
}

nav ul {
  list-style: none;
  background-color: black;
}

nav li {
  display: inline-block; /*Híbrido entre block-level  inline-level */
}

nav li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

nav li a:hover {
  background-color: white;
  color: black;
}

/* 1. Esconde o submenu por padrão */
.menu_secundario {
  display: none;
  position: absolute; /* (Tópico avançado, mas necessário aqui) */
  background-color: #333; /* Fundo para o dropdown */
}

/* 2. Mostra o submenu quando o <li> pai está em :hover */
nav ul li:hover > ul {
  display: block;
}

/* 3. Estiliza os itens do submenu para ficarem verticais */
.menu_secundario li {
  display: block;
  width: 200px; /* Largura para o dropdown */
}

.menu_secundario li a {
  color: lightgray;
}

.menu_secundario li a:hover {
  background-color: grey;
  color: white;
}
