/* CSS focado em Grid com estilização simples de LMC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*:focus {
  outline: 4px solid orangered;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  align-items: center;
}

.banner-hero {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.menu-container {
  padding: 40px 5%;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 10px 30px;
  background-color: #eee;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

label:focus-visible {
  outline: 4px solid orangered;
}

input:checked + label {
  background-color: #e67e22;
  color: white;
}

/* Sistema de exibição das telas */
.aba-tela {
  display: none;
}
#massa:checked ~ #tela-massas {
  display: block;
}

/* GRID DE PRODUTOS */
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Colunas iguais */
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.card p {
  width: 100% auto;
}

.card img {
  width: 100% auto;
  height: 150px;
}

.preco {
  display: block;
  margin: 10px 0;
  color: #e67e22;
  font-weight: bold;
}

.btn-pedir {
  width: 100%;
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.btn-pedir:hover {
  transition: 300ms;
  transform: scaleX(1.05) scaleY(1.05);
}

.rodape {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}

