* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.site-nav {
    background-color: #333;
    text-align: center;
}

.site-nav li {
    display: inline-block;
}

.site-nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.site-nav ul li a:hover {
    transition: 200ms;
    background-color: gray;
}

.content-wrapper {
  position: relative;
  padding-right: 250px;
}

.main-content {
  padding: 20px;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: lightgrey;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}