* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#cabecalho-principal {
  background-color: #1b5e20; /* Verde escuro */
  color: white;
  padding: 30px;
  text-align: center;
}

.link-nav {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.link-nav:hover {
  color: #81c784;
  text-decoration: underline;
}

.link-nav:focus,
.btn-leitura:focus {
  outline: 4px solid orangered;
  outline-offset: 1px;
  border-radius: 2px;
}

.lista-noticias {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.card-noticia {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: 0.3s; /* Para o feedback ser suave */
  margin: 16px auto;
}

.card-noticia:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #f9f9f9;
}

.card-noticia img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-noticia h2 {
  color: #2e7d32; /* Título em destaque */
  font-size: 22px;
  margin: 10px 0;
}

.card-noticia p {
  color: black;
  line-height: 1.6;
  margin-bottom: 14px;
}

.btn-leitura {
  background-color: #1b5e20;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
